<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js | <%= title%></title>
</head>
<body>
    <nav>
        <div class="site-title">
       <a href="/"><h1>blog iti</h1></a>
       <p>iti site</p>
        </div>
        <ul>
       <li> <a href="/">Homepage</a></li>
       <li> <a href="/about">Aboutpage</a></li>
       <li> <a href="/blogs/create">New Blog</a></li>
    </ul>
    </nav>
    <div class="blogs content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio repudiandae mollitia illum quidem ex deleniti veniam nihil ad quia rem numquam dolores, quis accusamus facere molestiae illo temporibus fuga unde!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio repudiandae mollitia illum quidem ex deleniti veniam nihil ad quia rem numquam dolores, quis accusamus facere molestiae illo temporibus fuga unde!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio repudiandae mollitia illum quidem ex deleniti veniam nihil ad quia rem numquam dolores, quis accusamus facere molestiae illo temporibus fuga unde!</p>
    </div>
</body>
</html>