<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js | <%= title%></title>
</head>
<body>
    <nav>
        <div class="site-title">
       <a href="/"><h1>blog iti</h1></a>
       <p>iti site</p>
        </div>
        <ul>
       <li> <a href="/">Homepage</a></li>
       <li> <a href="/about">Aboutpage</a></li>
       <li> <a href="/blogs/create">New Blog</a></li>
    </ul>
    </nav>
    <div class="blogs content">
        <form action="">
            <label for="title">blog title:</label><br>
            <input type="text" id="title" required> <br>
            <label for="body">body:</label><br>
            <textarea name="" id="body" cols="30" rows="4" required></textarea> <br>
            <button>submit</button>
        </form>
    </div>
</body>
</html>