<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js | <%= title%></title>
</head>
<body>
    <% const name = 'Mohamed' %>
    <nav>
        <div class="site-title">
            <p><%= name %></p>
       <a href="/"><h1>blog iti</h1></a>
       <p>iti site</p>
        </div>
        <ul>
       <li> <a href="/">Homepage</a></li>
       <li> <a href="/about">Aboutpage</a></li>
       <li> <a href="/blogs/create">New Blog</a></li>
    </ul>
    </nav>
    <div class="blogs content">
        <h2>all blogs</h2>
<% if(blogs.length > 0){ %>
    <% blogs.forEach(blog => { %>

<h3 class="title"><%= blog.title %></h3>
<p class="snippet"><%= blog.snippet %></p>

<% }) %>
    <% } else {  %>
    
        <p>there are no blogs</p>
        <% } %>
    </div>
</body>
</html>